/* css/style.css */
:root {
    --primary: #6C969D;
    --bg: #464D77;
    --detail: #D8BCAB;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
  }
  
  .container {
    font-family: "Poppins", sans-serif;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  h1 {
    color: var(--primary);
    font-size: 30px;
  }
  
  span {
    color: var(--detail);
  }
  /* Navbar */
  .navbar {
    float:none;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg);
    padding-top: 15px;
    display: block;
    text-align: center;
  }
  .navbar ul {
    display: flex;
    justify-content: center;
    text-align: center;

  }
  .navbar ul li {
    list-style: none;

  }
  .navbar ul li a {
    color: rgb(255, 255, 255);
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-decoration: none;
    display: block;
  }
  .navbar ul li a:hover, .navbar ul li a:active {
    color: black;
    background-color: lightgray;
  }
  .overview {
    display: flex;
  }
  .profile {
    margin-left: 10px;
  }
  .profile h3 {
    margin-top: auto;
    text-align:left;
  }
  .profile p {
    text-align:left;
  }
  .avatar {
    width: 90px;
    height: 70px;
    border-radius: 50%;
    align-items: flex-start;
    padding-left: 10px;
  }
  .classes {
    background-color: var(--bg);
    padding-bottom: 10px;
    padding-top: 10px;
    color: var(--detail);
  }
  .rooms {
    background-color: var(--detail);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  .box {
    height: 150px;
    width: 250px;
    background-color: white;
    padding: 0 15px;
    margin: 20px;
    display:inline-flex;
    list-style: none;
    align-items: center;
    border-radius: 10px;
    border-style:inset;
    border-color: var(--bg);
  }
  .box:hover, .box:active {
    background-color: var(--bg);
    color: white;
  }
  img {
    padding: 15px;
    height: 80px;
    width: 100px;
  }
  .box .content h3 {
    margin-bottom: 5px;
  }
  .box .content p {
    margin-top: 0px;
  }
  .box .status {
    padding-top: 2px;
    display: inline-block;
    background-color:var(--primary);
    font-size: 11px;
    font-style: bold;
    border-radius: 35%;
    width: 90px;
    height: 15px;
    text-align: center;
    border-style: groove;
    border-color: darkgray;
  }
  .box .booked {
    padding-top: 2px;
    display: inline-block;
    background-color:var(--detail);
    font-size: 11px;
    font-style: bold;
    border-radius: 35%;
    width: 90px;
    height: 15px;
    text-align: center;
    border-style: groove;
    border-color: darkgray;
  }
  /* Landing page */
  
  /*.landing-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
  }
  
  header {
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2em;
    color: #555;
  }
  
  .cta-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
  }
  
  .cta-buttons a:hover {
    background-color: #0056b3;
  }*/
  
  